defaults: &defaults
  applications:
    zkill_user_agent: "https://github.com/eosystems/xxx MODE:test Maintainer:Chatora Paaltomo(quick.xp@gmail.com)"
    es_server: localhost
    test_mode: false #true/false
    redisq: 'https://redisq.zkillboard.com/listen.php?queueID=chato_test'
development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
